<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ie.wit">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".markit.ui.ClonMarket.Admin.main.MainApp"
        android:allowBackup="true"
        android:icon="@drawable/markitlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/markitlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AdminFragment.AdminActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".markit.ui.ClonMarket.activities.UserMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCTtyfokgIu6kkDCFf4UG3Sfb54lUjCunY" />


        <activity android:name=".markit.ui.ClonMarket.activities.LoginTraderActivity" />
        <activity android:name=".markit.ui.ClonMarket.activities.LoginUserActivity" />
        <activity android:name=".markit.ui.ClonMarket.activities.InitialScreen" />
        <activity
            android:name=".markit.ui.ClonMarket.activities.SplashScreen"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>